#artistImg{
    border-radius: 50%;
}

#artistList{
    display: inline-block;
    max-width:50%; 
    padding: 2px;
}

.item{
    max-width: 160px;
}
.caption{
    text-align: center;
}